h1{color: rgb(229, 75, 75);}
div{background-color: rgb(62, 225, 243);}
h2, h3{background-color: rgb(180, 209, 181); color:green}
.blue{background-color: rgb(240, 242, 129); color: blue; border: 2px rgb(220, 141, 23);}