@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");

.flax-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Signika Negative", sans-serif;
}
.btn {
  display: flex;
  height: 29px;
  text-align: center;
  width: 55px;
  margin: 17px 0;
  padding: 5px;
  border-radius: 2px;
  background-color: var(--main-bg-color);
  color: white;
  cursor: pointer;
}
.btn:hover {
  color: rgb(241, 240, 238);
  font-weight: bolder;
  
}
